:root {
  --h2-title-color: #2E2F42;
}

body {
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.pre-title {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.section-title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}

/*---------------HEADER------------*/
.header {
  background-color: #FFFFFF;
  font-weight: 1440;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.header-connect-list {
  display: flex;
  margin-left: auto;
}

.header-list {
  display: flex;
}

.header-item+.header-item {
  margin-left: 40px;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: 0.03em;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-logo {
  color: #2e2f42;
}


.header-el-adres {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #434455;
  display: flex;
  align-items: center;
}

.header-item-contact+.header-item-contact {
  margin-left: 40px;
}

/*-----------------HERO----------------*/
.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero.bg.jpg);
  max-width: 1440px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
  padding-top: 191px;
  padding-bottom: 289px;
}

.hero-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: calc(60 / 56);
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 45px;
}

.button+.button {
  margin-left: 24px;
}

.hero-point {
  display: flex;
  justify-content: center;
}

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  padding: 16px 32px 16px 32px;
  color: #ffffff;
  background-color: #4D5AE5;
  border-radius: 4px;
}

.primary {
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #f4f4fd;
  color: #4d5ae5;
  padding: 12px 24px 12px 24px;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

 .primary:hover,
.primary:focus {
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: #404bbf;
} 

/*-----------------ABOUT-----------------*/
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-item {
  flex-basis: calc(100% / 4 - 24px);
  margin-left: 24px;
  margin-top: 24px;
}

.about-item::before {
  display: block;
  content: "";
  height: 112px;
  background-size: 64px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.about-list {
  display: flex;
  margin-left: -24px;
  margin-top: -24px;
  flex-wrap: wrap;
}

.about-item-portfolio {
  justify-content: center;
  flex-basis: calc(100% / 3 - 24px);
  margin-left: 24px;
  margin-top: 72px;
  background: #ffffff;
  position: relative;
}

.about-item-portfolio:hover .about-top-text {
  transform: translateY(0);
}

.about-wrap {
  position: relative;
  overflow: hidden;
}

.about-portfolio-link {
  display: block;
}

.about-portfolio-link:hover,
.about-portfolio-link:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.about-title-list {
  font-style: 400px;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.about-title {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--h2-title-color);
  margin-bottom: 8px;
}

.about-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #434455;
}

.about-pre-title {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #434455;
}

.about-item-content {
  background: #ffffff;
  border: 1px solid #e7e9fc;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 24px;
  padding-right: 24px;
}

/*---------------------REASONS-------------*/
.reasons-list {
  display: flex;
}

.reasons-item {
  position: relative;
}

.reasons-item+.reasons-item {
  margin-left: 24px;
}

.reasons {
  padding-top: 120px;
  padding-bottom: 120px;
}

.reasons-title {
  font-style: 400;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--h2-title-color);
  margin-bottom: 72px;
}

/*---------------SPECIALIST----------------------*/
.specialist {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.specialist-title {
  font-style: 400;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--h2-title-color);
  margin-bottom: 72px;
}

.specialist-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
  margin-top: -72px; 
}

.specialist-item {
  flex-basis: calc(100% / 4 - 24px);
  margin-left: 24px;
  margin-top: 72px; 

}

.specialist-item-title {
  font-style: 400;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 8px;
}

.specialist-item-text {
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}

.specialist-social-list {
  display: flex;
  justify-content: center;
  
}

.specialist-social-link {
  width: 44px;
  height: 44px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f4f4fd;
  margin-bottom: 32px;
}

 .specialist-social-icon {
  fill: currentColor;
} 

.specialist-social-item+.specialist-social-item {
  margin-left: 24px;
}

.specialist-item-content {
  padding: 8px;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
  }


/*------------REGULAR-------------*/
.regular {
  padding-top: 110px;
  padding-bottom: 120px;
}

.regular-customers-container {
  width: 1128px;
}

.regular-customers-item {
  width: 168px;
  height: 88px;
}

.regular-customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 92px;
}

.regular-customers-list {
  display: flex;
  justify-content: center;
}

.regular-customers-item+.regular-customers-item {
  margin-left: 24px;
}

.regular-customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
}

 .regular-customers-icon {
  fill: #8e8f99;
} 

/*-------------CELLAR------------*/
.cellar {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.cellar-container {
  display: flex;
  align-items: baseline;
}

.cellar-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  letter-spacing: 0.03em;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: block;
}

.logotip-ft {
  color: #f4f4fd;
}

.cellar-text{
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
/*------------------ADDS--------------*/

.adds {
  font-style: inherit;
}

.cellar-social {
  margin-left: 120px;
}

.cellar-item-text {
  padding-bottom: 16px;
}

.cellar-social-list {
  display: flex;
}

.cellar-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #ffffff;
}

.cellar-social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #f4f4fd;
}

.cellar-social-item+.cellar-social-item {
  margin-left: 16px;
}
